<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="card.css">
	<style>
		body {
			background-image: url(images/credit4.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-attachment: fixed;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="form-column">
			<h1 class="pay">Credit Card Details</h1><br>
			<div class="inputBox">
				<h3>Card Accepted:</h3>
				<img src="images copy/card_img.png" alt="">
			</div>

			<label for="fname"> Name On Card :</label>
			<input type="text" id="fname" name="firstname" placeholder="Name On Card">

			<label for="fname"> Credit Card Number :</label>
			<input type="number" id="fname" name="firstname" placeholder="1111-2222-3333-4444">


			<label for="fname"> EXP Month</label>
			<input type="text" id="fname" name="firstname" placeholder="exp Month"><br>



			<label for="fname"> EXP Year :</label>
			<input type="number" id="fname" name="firstname" placeholder="exp Year">


			<label for="fname"> CVV :</label>
			<input type="number" id="fname" name="firstname" placeholder="1111">

			<a href="thankyou.html"> <button class="btn" onclick="myFunction()">process To Checkout</button></a>

		</div>

	</div>






	</form>
	</div>




</body>

</html>